html, body {
    width: 100%;
    margin: 0;
    padding: 0; 
}

.section-background {
    background-image: url('../pic/photo-1441986300917-64674bd600d8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}

.section-1-welcome, .section-1-title {
    font-size: 75px;
}

.section-1-welcome {
    font-family: "The Nautigal", cursive;
    margin-bottom: -50px;
}

.section-1-title {
    font-family: "Tilt Prism", sans-serif;
    margin-bottom: 0;
}

.section-1-description {
    font-family: "Tienne", serif;
    font-size: 13px;
    width: 500px;
    text-align: center;
    line-height: 1.5;
}

.margin {
    height: 100px;
    width: 100%;
}

.shop-now {
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.15s, transform 0.1s ease-in-out;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.shop-now:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.shop-now:active {
    opacity: 0.6;
    transform: scale(0.98);
}

/* Policies Section */
.policies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Tinmama", sans-serif;
    padding: 20px;
    flex-wrap: wrap;
    border-bottom:5px solid gray;
}

.policy {
    display: flex;
    align-items: center;
    gap: 20px;
    word-spacing: 3px;
    max-width: 350px;
    text-align: left;
}

.policy-title {
    font-size: 25px;
    font-weight: bold;
}

.policy-description {
    font-size: 12px;
    width: 225px;
    margin-top: -10px;
    line-height: 1.4;
}

.policy img {
    height: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-1-welcome, .section-1-title {
        font-size: 50px;
    }

    .section-1-description {
        width: 90%;
        font-size: 12px;
    }

    .shop-now {
        width: 150px;
        height: 35px;
        font-size: 12px;
    }
    .policies{
        flex-direction: column;
    }
    #policy-payment-secure{
        margin-left: 50px;
    }
}
